{% extends "_layouts/base.html" %}

{% block title %}Lista de alunos{% endblock %}

{% block conteudo %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card border-dark" data-aos="fade-in" data-aos-duration="750">
                <div class="card-header"><b>Lista de alunos</b></div>
                    <div class="card-body">
                        {% if alunos|length > 0 %}
                            <p class="card-text">Lista de <code>Alunos</code> cadastrados.</p>
                            <table class="table table-light table-striped table-hover align-middle">
                                <thead>
                                <tr>
                                    <th scope="col">Matrícula</th>
                                    <th scope="col">Data de nascimento</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Telefone</th>
                                    <th scope="col">Data de ingresso</th>
                                    <th scope="col" class="text-center">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for aluno in alunos %}
                                    <tr>
                                        <td>{{ aluno.matricula }}</td>
                                        <td>{{ aluno.data_nascimento }}</td>
                                        <td>{{ aluno.email }}</td>
                                        <td>{{ aluno.telefone }}</td>
                                        <td>{{ aluno.data_ingresso }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'app:editar' pk=aluno.id %}" class="btn btn-primary btn-sm">
                                                Editar
                                            </a>
                                            <a href="{% url 'app:excluir' pk=aluno.id %}" class="btn btn-danger btn-sm">
                                                Excluir
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center mt-5 mb-5 jumbotron">
                                <h5>Não há <code>alunos</code> cadastrados.</h5>
                            </div>
                        {% endif %}
                        <hr/>
                        <div class="text-end">
                            <a href="{% url 'app:criar' %}" class="btn btn-primary">
                                Criar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}